:root {
  --main-color: #e84242;
  --black-color: #0e0e0e;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}


* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}

/* base html codes */
html {
  /* to change the size of 1rem == 10px */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
  background-color: white;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: rgb(0, 0, 0);
}

body {
  background: var(--main-color);
}

section {
  padding: 3.5rem 7%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 2rem 3.75rem;
  border-radius: 30rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--black-color);
  cursor: pointer;
}

.heading {
  font-size: 4rem;
  color: black;
  text-transform: uppercase;
  margin-bottom: 3.5rem;
  border-bottom: 0.1rem solid #000000;
}

.heading span {
  color: black;
  text-transform: uppercase;
}


.btn:hover {
  color: rgb(255, 0, 0);
}

.logo img {
  height: 7rem;
}

/*! header start */
.header img {
  height: 10rem;
}

.header img:hover {
  transform: scale(1.1);
  transform: rotate(15deg);
  filter: brightness(1.2);
  filter: hue-rotate(20deg);
}

.header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
  font-weight: bold;

}

.header .navbar .active,
.header .navbar a:hover {
  border-color: darkred;
  padding-bottom: 0.3rem;
}

.header .buttons button {
  cursor: pointer;
  font-size: 2.5rem;
  background-color: transparent;
  margin-left: 2rem;
}

/*! header end */

/*! home start */
.home {
  min-height: 100vh;
  background: url(../images/Karolina-Grabowska-RedHeels-Home.webp) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -14.5rem;
  display: flex;
  align-items: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #000000;
}

.home .content p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.8;
  padding: 1rem 0;
  color: #000000;
  text-transform: none;
}


/*! home end */

/* products start */

.menu {
  background: url(../images/Karolina-Grabowska-Heels2.webp);
  background-size: cover;
  background-position: center;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .btn {
  background-color: white;
  color: black;
}

.menu .btn:hover {
  color: white;
  background-color: red;
  opacity: 0.9;
}

.menu .box-container .box {
  padding: 3rem;
  background: url(../images/Cart-BG.png);
  background-size: cover;
  background-position: center;
  border-radius: 3rem;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0.98;
  /* remember this!!!! */

}

.menu .box-container .box:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.menu .box-container .box img {
  width: 100%;
  object-fit: cover;
}

.menu img:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.menu .box-container .box .menu-category {
  font-size: 1.4rem;
  color: red;
}

.menu .box-container .box h3 {
  color: white;
  font-size: 3rem;
  padding: 1rem 0;
}

.menu .box-container .box .price {
  color: white;
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.menu .box-container .box .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: 300;
}