:root {
  --main-color: #fff;
  --black-color: #0e0e0e;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}


* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}


html {
  /* to change the size of 1rem == 10px */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
  background-color: white;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: rgb(0, 0, 0);
}

body {
  background: var(--main-color);
}

section {
  padding: 3.5rem 7%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 2rem 3.75rem;
  border-radius: 30rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--black-color);
  cursor: pointer;
}

.heading {
  font-size: 4rem;
  color: black;
  text-transform: uppercase;
  margin-bottom: 3.5rem;
  border-bottom: 0.1rem solid #000000;
}

.heading span {
  color: black;
  text-transform: uppercase;
}


.btn:hover {
  color: rgb(255, 0, 0);
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 3%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  box-shadow: 0px 0px 25px 2px rgb(0 0 0 0 / 75);
  transform: scaleY(0);
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form i {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black-color);
}

.header .search-form input {
  width: 100%;
  margin-left: 2rem;
}

.logo img {
  height: 7rem;
}


.header img {
  height: 10rem;
}

.header #myLogo:hover {
  transform: scale(1.1);
  transform: rotate(15deg);
  filter: brightness(1.2);
  filter: hue-rotate(20deg);
}

.header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--black-color);
  border-bottom: 0.1rem solid transparent;
  font-weight: bold;

}

.header .navbar #yellowgirl {
  color: yellow;
}

.header .navbar .active,
.header .navbar a:hover {
  border-color: darkred;
  padding-bottom: 0.3rem;
}

.header .buttons button {
  cursor: pointer;
  font-size: 2.5rem;
  background-color: transparent;
  margin-left: 2rem;
}

.header .cart-items-container {
  position: absolute;
  top: 95%;
  height: calc(100vh - 9rem);
  width: 35rem;
  background-color: #fff;
  box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
  right: -200%;
}

.header .cart-items-container.active {
  right: 3rem;
}

.header .cart-items-container .cart-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

.header .cart-items-container .cart-item:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black-color);
}

.header .cart-items-container .cart-item img {
  height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
  font-size: 2rem;
  color: var(--black-color);
  padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--black-color);
}

.header .cart-items-container .btn {
  width: 100%;
  text-align: center;
  border-radius: unset;
}


.home {
  min-height: 100vh;
  background: url(../images/Karolina-Grabowska-RedHeels-Home.webp) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -14.5rem;
  display: flex;
  align-items: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #000000;
  text-shadow: 0.2rem 0rem 0.5rem rgb(0, 0, 0, 1);
}

.home .content p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.8;
  padding: 1rem 0;
  color: #000000;
  text-transform: none;
}

.video-section {
  background: url(../images/Cart-BG.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.video-container {
  width: 80%;
  max-width: 1200px;
  position: relative;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
}

.my-video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.menu {
  background: url(../images/Karolina-Grabowska-Heels2.webp);
  background-size: cover;
  background-position: center;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .btn {
  background-color: white;
  color: black;
}

.menu .btn:hover {
  color: white;
  background-color: red;
  opacity: 0.9;
}

.menu .box-container .box {
  padding: 3rem;
  background: url(../images/Cart-BG.png);
  background-size: cover;
  background-position: center;
  border-radius: 3rem;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0.97;
  /* remember this!!!! */

}

.menu .box-container .box:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.menu .box-container .box img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.menu img:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.menu .box-container .box .menu-category {
  font-size: 1.4rem;
  color: red;
}

.menu .box-container .box h3 {
  color: white;
  font-size: 3rem;
  padding: 1rem 0;
}

.menu .box-container .box .price {
  color: white;
  font-size: 2.5rem;
  padding: 0.5rem 0;
}

.menu .box-container .box .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: 300;
}

.products {
  background: url(../images/Cart-BG.png);
  background-size: cover;
  background-position: center;
}

.products .heading {
  color: white;
  border-bottom: 0.1rem solid white;
}

.products .heading span {
  color: white;
}

.products a {
  color: black;
  text-decoration: none;
}

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  text-align: center;
  background-color: #fff;
  position: relative;
  border-radius: 3rem;
  /* height: 60rem; */
  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: space-between;
}

.products .box-container .box .box-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

.products .box-container .box .box-head .title {
  font-size: 1.4rem;
  color: red;
  font-weight: bold;
}

.products .box-container .box .box-head .name {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  overflow-wrap: anywhere;
}

.products .box-container .box img {
  width: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.products .box-container .box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.products .box-container .box-bottom .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products .box-container .box-bottom .info .price {
  padding: 0.5rem 0;
  font-size: 1.7rem;
  font-style: italic;
  text-transform: none;
}

.products img:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.about {
  background: url(../images/aboutus.webp);
  background-size: cover;
  background-position: center;
}

.about .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.about .row .image {
  flex: 1 1 45rem;
  max-width: 50rem;
  max-height: 60rem;
  overflow: hidden;
  border: 5px solid #fff3e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.about .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  overflow: hidden;

}

.about .row img:hover {
  opacity: 1;

  transform: scale(1.2);
}

.about .row .content {
  flex: 1 1 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .heading {
  color: rgb(255, 255, 255);
  border-bottom: 0.1rem solid #ffffff;
}

.about .heading span {
  color: #d0152f;
}

.about .row .content h3 {
  font-size: 3rem;
  color: red;
  text-align: center;
  text-shadow: 0.2rem 0rem 0.3rem rgb(0, 0, 0, 1);
}

.about .row .content p {
  font-size: 1.8rem;
  font-weight: bold;
  /* text looks a bit fucked up here due to background picture so i added some text shadow */
  color: #fff3e0;
  text-shadow: 0.2rem 0rem 0.5rem rgb(0, 0, 0, 1);
  padding: 1rem 0;
  line-height: 1.8;
  text-transform: none;
}

.review {
  background: url(../images/Cart-BG.png);
  background-position: center;
  background-size: cover;
}

.review .heading {
  color: white;
  border-bottom: 0.1rem solid #ffffff;
}

.review .heading span {
  color: white;
}

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

/* thanks to karma app :) */

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
  background-color: #fff;
  border-radius: 3rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1;
}

.review .box-container .box::before {

  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #50139f;
  border-radius: 3rem;
  transition: all 0.3s ease;
  z-index: -1;
  transform: scale(0);
  transform-origin: bottom right;

}

.review .box-container .box:hover::before {
  transform: scale(1);
  transform-origin: bottom right;
}

.review .box-container .box:hover {

  & p,
  h3 {
    color: #fff;
  }

  & #quote {
    transform: scale(1.1);
    transform: rotate(15deg);
  }

}

.review .box-container .box .user {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem auto;
}

.reivew .box-container .box img {
  width: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.review .box-container .box p {
  text-transform: none;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 2rem 0;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: red;
}

.review .box-container .box .stars i {
  color: gold;
  font-size: 1.5rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.contact {
  background: url(../images/Karolina-Grabowska-Contact.webp);
  background-position: center;
  background-size: cover;
}

.contact .row {
  display: flex;
  background-color: var(--black-color);
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;

}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  border: var(--border);
}

.contact .row form .inputBox i {
  color: #ff0000;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background-color: transparent;
}

.contact .row form .btn {
  color: red;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.contact .row form .btn:hover {
  background-color: #50139f;
  color: white;
}

.contact-btn {
  background-color: #fff;
  color: red;
}


.contact-btn.success {
  background-color: #e0ffe0;
  color: #4CAF50;
  padding-left: 2.5rem;
  background-repeat: no-repeat;
  background-position: left 1rem center;
}

.blog {
  background: url(../images/Cart-BG.png);
  background-size: cover;
  background-position: center;
}

.blog .heading {
  color: #fff;
  border-bottom: 0.1rem solid #ffffff;
}

.blog .heading span {
  color: #0004ff;
}

.blog .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blog .box-container .box {
  background-color: #fff;
  border-radius: 3rem;

}

.blog .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;

}

.blog .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  object-position: center;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.blog .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blog .box-container .box .content {
  padding: 2rem;
}

.blog .box-container .box .content span {
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
}

.blog .box-container .box .content .title {
  line-height: 1.5;
  font-size: 2.5rem;
}

.blog .box-container .box .content .p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #ccc;
  padding: 1rem 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

footer p {
  font-size: 2rem;
  text-transform: none;
  font-weight: 600;
}

footer a {
  color: red;
  cursor: pointer;
  font-weight: 700;
}

#menu-btn {
  display: none;
}


/* external about page video */

.about-external {
  background: url(../images/aboutus.webp);
  background-position: center;
  background-size: cover;
}

.about-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  padding: 3rem 0;
}

.about-row .about-video-container {
  flex: 1 1 45rem;
  max-width: 50rem;
  max-height: 60rem;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

.about-row .my-video2 {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.about-row .content {
  flex: 1 1 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.about-row .content h3 {
  font-size: 3rem;
  color: red;
  text-align: center;
  text-shadow: 0.2rem 0rem 0.3rem rgb(0, 0, 0, 1);
}

.about-row .content p {
  text-transform: none;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: 0.2rem 0rem 0.5rem rgb(0, 0, 0, 1);
  line-height: 1.8;
}







/* external about page video */


/* responsive denemeler */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  .header .logo img {
    height: 7rem;
  }

  section {
    padding: 2rem;
  }

  .products .box-container .box .box-head .name {
    font-size: 3.4rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 95%;
    background-color: #fff;
    height: calc(100vh - 9rem);
    width: 30rem;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
    right: -200%;
  }

  .header .navbar.active {
    right: 3rem;
  }

  .header .navbar a {
    color: var(--black-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }




}